.insta-logo{
    display: flex;
    justify-content: center;
}
.form-container{
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 400px;
    padding: 20px 0;
    margin-left: 35%;
    margin-top: 50px;
    
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-group{
    margin-bottom: 15px;
    width: 60%;
}
input{
    width: 100%;
    border: 1px solid#ccc;
    border-radius: 5px;
    padding: 8px 5px;
}
button{
    padding: 10px 25px;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}
button:hover{
    background-color: #0056b3;
}